* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 4vh;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    background: #1C2F59;
    background-position: top;
    color: white;
    text-shadow: 1px 1px 4px #000;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contener {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timer {
    background: #00000049;
    box-shadow: inset 1px 1px 32px #00000042;
    backdrop-filter: blur(12px);
    border: 1px solid #43b1e5;
    padding: 40px 64px;
    font-family: "Aldrich", sans-serif;
    font-size: 6rem;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    gap: 12px;
    background: #00000049;
    box-shadow: inset 1px 1px 32px #00000042;
    padding-inline: 18px;
    padding-block: 24px;
    border-radius: 999px;
    backdrop-filter: blur(12px);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

button {
    padding: 6px 12px;
    font-size: 2.4rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: transparent;
}

#startStopBtn {
    background: #43b1e5;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.win-message {
    font-size: 2rem;
    margin-top: 20px;
    display: none;
    color: rgb(255, 255, 255);
    animation: pulse 1s infinite;
    z-index: 10;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    user-select: none;
    color: white;
}

.time-part {
    width: 1.8ch;
    text-align: center;
    font-variant-numeric: tabular-nums;
}

.separator {
    width: 1.2ch;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 1960px) {
    .timer {
        font-size: 4.8rem;
    }

    .buttons {
        padding-inline: 8px;
        padding-block: 12px;
    }

    button {
        padding: 6px 12px;
        font-size: 1.6rem;
    }

    #startStopBtn {
        width: 60px;
        height: 60px;
    }

}

@media only screen and (max-width: 768px) {
    .timer {
        font-size: 3rem;
    }

    .buttons {
        padding-inline: 6px;
        padding-block: 12px;
    }

    button {
        padding: 6px 12px;
        font-size: 1.6rem;
    }

    #startStopBtn {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 420px) {
    .timer {
        font-size: 2rem;
    }

    .buttons {
        padding-inline: 4px;
        padding-block: 10px;
    }

    button {
        padding: 6px 12px;
        font-size: 1.4rem;
    }

    #startStopBtn {
        width: 40px;
        height: 40px;
    }
}